<div id="layoutAuthentication" class="bg-primary">
  <div id="layoutAuthentication_content">
      <main>
          <div class="container-xl px-4">
              <div class="row justify-content-center">
                  <div class="col-lg-5">
                      <!-- Basic login form-->
                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                          <div class="card-header justify-content-center"><h3 class="fw-light my-4">Iniciar sesión</h3></div>
                          <div class="card-body">
                              <!-- Login form-->
                              <form [formGroup]="loginForm" (ngSubmit)="login()">
                                  <!-- Form Group (email address)-->
                                  <div class="mb-3">
                                      <label class="small mb-1" for="inputEmailAddress">E-mail</label>
                                      <input type="email" class="form-control" formControlName="email" placeholder="Ingrese cualquier nombre de usuario"/>
                                      <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">El campo email es requerido y debe tener al menos 6 caracteres.</small>
                                  </div>
                                  <!-- Form Group (password)-->
                                  <div class="mb-3">
                                    <label class="small mb-1" for="inputEmailAddress">Contraseña</label>
                                    <input type="password" class="form-control" formControlName="password" placeholder="Ingrese cualquier nombre de usuario"/>
                                    <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">La campo contraseña es requerido.</small>
                                </div>
                                  <!-- Form Group (password)-->
                                  <div class="mb-3">
                                      <label class="small mb-1" for="inputPassword">Rol</label>
                                      <select class="form-control" formControlName="rol">
                                        <option *ngFor="let rol of rolTypes" [value]="rol">{{ rol }}</option>
                                      </select>
                                      <small *ngIf="loginForm.get('rol')?.touched && loginForm.get('rol')?.invalid" class="text-danger">Debe seleccionar un Rol para ingresar.</small>
                                  </div>

                                  <!-- Form Group (login box)-->
                                  <div class="d-flex align-items-end justify-content-end mt-4 mb-0">
                                      <button [disabled]="loginForm.invalid || loading" type="submit" class="btn btn-primary">Login</button>
                                  </div>
                              </form>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
</div>
