<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="list"></i></div>
                            Listado de Alumnos
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a class="btn btn-sm btn-light text-primary" (click)="openDialogStudentForm()">
                            <i class="me-1" data-feather="user-plus"></i>
                            Agregar Alumno
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-2">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="apellido">
                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
            </ng-container>

            <ng-container matColumnDef="calificacion">
                <th mat-header-cell *matHeaderCellDef> Calificacion </th>
                <td mat-cell *matCellDef="let element"> {{element.calificacion}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.calificacion > 5" class="badge bg-green-soft text-green">Aprobado</span>
                    <span *ngIf="element.calificacion < 6" class="badge bg-red-soft text-red">No Aprobado</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="openDialogStudentForm(element.id)" class="btn btn-primary btn-sm me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button (click)="deleteStudent(element.id)" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


</main>
