<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>

  <form [formGroup]="studentForm">
    <!-- Form Row-->
    <div class="row gx-3 mb-3">
      <div class="col-md-6">
        <label class="small mb-1">Nombre</label>
        <input formControlName="first_name" class="form-control" type="text" />
        <small *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.touched)" class="text-xs text-danger">*
          El campo
          Nombre es requerido y debe tener al menos 3 caracteres</small>
      </div>
      <div class="col-md-6">
        <label class="small mb-1">Apellido</label>
        <input formControlName="last_name" class="form-control" type="text" />
        <small *ngIf="last_name?.invalid && (last_name?.dirty || last_name?.touched)" class="text-xs text-danger">* El
          campo
          Apellido es requerido y debe tener al menos 3 caracteres</small>
      </div>
      <div class="col-md-6">
        <label class="small mb-1">Nro. Documento</label>
        <input formControlName="document_number" class="form-control" type="number" />
        <small *ngIf="document_number?.invalid && (document_number?.dirty || document_number?.touched)"
          class="text-xs text-danger">* El campo
          Nro. Documento es requerido y debe tener al menos 3 caracteres</small>
      </div>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button cdkFocusInitial (click)="submit()">Guardar</button>
</mat-dialog-actions>
