<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content>
  <form [formGroup]="studentForm">
    <!-- Form Row-->
    <div class="row gx-3 mb-3">
      <div class="col-md-6">
        <label class="small mb-1">Nombre</label>
        <input formControlName="nombre" class="form-control" type="text" />
        <div
          *ngIf="nombre?.touched && nombre?.errors?.['required']"
          class="text-xs text-danger"
        >
          * El campo Nombre es requerido
        </div>
        <div
          *ngIf="nombre?.touched && nombre?.errors?.['minlength']"
          class="text-xs text-danger"
        >
          * El campo Nombre debe tener al menos 3 caracteres
        </div>
      </div>
      <div class="col-md-6">
        <label class="small mb-1">Apellido</label>
        <input formControlName="apellido" class="form-control" type="text" />
        <div
          *ngIf="apellido?.touched && apellido?.errors?.['required']"
          class="text-xs text-danger"
        >
          * El campo Apellido es requerido
        </div>
        <div
          *ngIf="apellido?.touched && apellido?.errors?.['minlenght']"
          class="text-xs text-danger"
        >
          * El campo Apellido debe tener al menos 3 caracteres
        </div>
      </div>
    </div>
  </form>

  <div class="row gx-3 mb-3">
    <h3>Agregar inscripción:</h3>
    <div class="col-md-6">
      <select class="form-control" [(ngModel)]="inscriptionCourseId" placeholder="Seleccionar...">
        <option *ngFor="let course of courses" [value]="course.id">
          {{ course.nombre }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <button (click)="addInscription()" class="btn btn-success">Agregar</button>
    </div>
  </div>

  <div class="row">
    <h5>Inscripciones vigentes:</h5>
    <ul>
      <li *ngFor="let insc of inscriptions">{{ insc.nombre }}</li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button (click)="save()" mat-button cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
