<main>
    <header class="page-header page-header-dark bg-gradient-primary-to-secondary mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-file">
                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                    <polyline points="13 2 13 9 20 9"></polyline>
                                </svg></div>
                            Bienvenido
                        </h1>
                        <div class="page-header-subtitle">Sistema para proyecto final Coderhouse.</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4">
        <div class="card">
            <div class="card-header">CONSUMIR DATOS DE UNA API REST / clase 14</div>
            <div class="card-body">
                <p class="fw-bold">Consigna:</p>
                <p>Con los visto en las últimas clases, optimiza tu proyecto incluyendo los aspectos obligatorios de este desafío entregable.</p>

                <p>Aspectos a incluir en el entregable:</p>
                <ul>
                    <li>Crear servicio de API.</li>
                    <li>Consumir datos de mockio utilizando HttpClient desde los servicios.</li>
                    <li>Agregar lazyloading y child routes de los features modules.</li>
                    <li>Crear un componente de login.</li>
                    <li>Sumar un guard que evite que los usuarios puedan ingresar a las rutas si no están autenticados.</li>
                </ul>
            </div>
        </div>
    </div>
</main>
