<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-xl px-4">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user-plus"></i></div>
                            Agregar usuario
                        </h1>
                    </div>
                    <div class="col-12 col-xl-auto mb-3">
                        <a [routerLink]="'/alumnos'" class="btn btn-sm btn-light text-primary">
                            <i class="me-1" data-feather="arrow-left"></i>
                            Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">Detalles del Alumno</div>
                <div class="card-body">
                    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1">Nombre</label>
                                <input formControlName="nombre" class="form-control" type="text" />
                                <div *ngIf="nombre?.touched && nombre?.errors?.['required']" class="text-xs text-danger">* El campo Nombre es requerido</div>
                                <div *ngIf="nombre?.touched && nombre?.errors?.['minlength']" class="text-xs text-danger">* El campo Nombre debe tener al menos 3 caracteres</div>
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1" >Apellido</label>
                                <input formControlName="apellido" class="form-control" type="text" />
                                <div *ngIf="apellido?.touched && apellido?.errors?.['required']" class="text-xs text-danger">* El campo Apellido es requerido</div>
                                <div *ngIf="apellido?.touched && apellido?.errors?.['minlenght']" class="text-xs text-danger">* El campo Apellido debe tener al menos 3 caracteres</div>
                            </div>
                        </div>

                        
                        
                        <!-- Submit button-->
                        <button class="btn btn-primary" type="submit" [disabled]="studentForm.invalid">Guardar</button>
                    </form>


                    <pre>
                        {{ studentForm.value | json }}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</main>